.navbar{
    background-color: rgba(55, 171, 117, 0.7);
    width: 95vw;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
}

.navbar>h1{
    color: #fff;
    margin-left: 2rem;
}

.links>ul{
    display: flex;
    gap: 1.5rem;
    margin-right: 2rem;
    color: #fff;
    list-style-type: none;
}

.links>ul>li{
    font-weight: 700;
    font-size: 1.2rem;
}